body{
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

h1{
    line-height: 1,5px;
    font-size: 35px; 
}


.header a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.header{
    background-color: #F9E7E7;
}
h1 strong{
    color: #4D2D52;
}


.logo{
    margin: 0;
    padding-top: 10px;
    padding-left:40px ;
    color: white;
}

.hero{
    height: 200px;
    box-shadow: 0px 0 2px 1px #e6e5e9;
    padding: 40px;
    border-top: 1px solid grey;

}
ol{
    margin-bottom: 0;
}

ol,ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


.hero-title{
  font-family: 'DM Mono', monospace;
  text-align: center;
  }
.project{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project a{
    color: black;
}
.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}
.portfolio{
    background-color: #FAFAFA;
}

.portfolio h2{
    padding-left:40px;
    background-color: #FAFAFA;
}

header{
    display: flex;
    justify-content: space-between;
    height: 90px;
}

header ol{
    display: flex;
    height: inherit;
}

.menu{
    height: inherit;
}
.header ol li{
    height: inherit;
   
}
.header a{
    height: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.logo{
    height: auto;
    text-align: center;
    padding: 20px;
}

.footer{
     color: white;
     background-color: #1b2127;
     display: flex;
     height: 20px;
     justify-content: flex-end;
     padding: 10px;
}

h2{
    margin-top: 30px
}